// Place all the styles related to the exam controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 20px 0 40px 0;
  background-color: #f5f5f5;
}
div.container-fluid {
  padding-bottom: 100px;
}

.navbar-nav li {
  display: inline-block;
}

.action-icon {
  background-repeat: no-repeat;
  padding: 0 0 0 22px;
  background-size: contain;
}

.icon-show {
  @extend .action-icon;
  background-image: image-url("icons/show.png");
}

.icon-edit {
  @extend .action-icon;
  background-image: image-url("icons/edit.png");
}

.icon-destroy {
  @extend .action-icon;
  background-image: image-url("icons/destroy.png");
}

.edit_exam div {
  margin-top: 20px;
  margin-bottom: 28px;
}

#exam_name textarea {
  resize: none;
}

.action_buttons button {
  margin-right: 16px;
}

.action_buttons {
  margin-bottom: 16px;
}

.exam_choise_input_area {
  margin-bottom: 16px;
}

#exam_show_content {
  margin-bottom: 20px;
}
#exam_show_choice_selects {
  margin-bottom: 20px;
}
