<div class='container-fluid'>
  <h1><%= @exam.name %></h1>

  <span id='attr_exam_id' data-exam-id='<%= @exam.id %>'></span>

  <div id='exam_show_content'>
    <%= @content %>
  </div>

  <div class='action_buttons'>
    <a href='/exams' class='btn btn-default'>戻る</a>
  </div>
</div>

<% content_for :add_js_include do %>
	<%= javascript_include_tag 'exam/show-manifest' %>
<% end %>
